body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.top-blue {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-size: 18px;
    color: #e5e7eb;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 65px;
}
#intro-left {
    display: flex;
    flex-basis: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-right: 80px;
}
#image-placeholder {
    background-color: gray;
    color: white;
    margin-top: 10px;
    padding: 100px;
}
#maintext {
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
    font-weight: bolder;
}
#mainsecondary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
#signupbtn {
    background-color: #3882f6;
    color: white;
    font-size: large;
    border-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px 10px 30px;
    align-self: flex-start;
}