body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", system-ui, Verdana, sans-serif;
    margin: 0;
}

.top-blue {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-size: 18px;
    color: #e5e7eb;
}